{% extends 'dummy1.html' %}
{% load static %}
{%  block title %}
<title>Home Page</title>
{% endblock %}

{% block body_block %}
 <br>
<center>
    <h1 style="color: rgb(240, 228, 215);" >ABOUT US</h1>
    <h3 style="color: aliceblue;">The current challenge lies in securing readily available domestic help such as maids, cooks, and nannies, leading to a significant gap between supply and demand. Conversely, service providers in this sector struggle to find suitable employment opportunities. What is required is a platform that effectively connects service seekers with service providers, addressing this imbalance.</h3>
</center>

{% endblock %}